<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shop.fruitable.mapper.FoodRateInfoMapper">
	<select id="selectFoodRates" resultType="com.shop.fruitable.vo.FoodRateInfoVO">
		SELECT FRI_NUM, FRI_NAME, FRI_COMMENT, FRI_RATE, CREDAT, CRETIM, FOI_NUM 
		FROM food_rate_info
		<where>
			<if test='foiNum != null and foiNum != 0'>
				AND FOI_NUM = #{foiNum}
			</if>
		</where>
	</select>
	<select id="selectFoodRate" resultType="com.shop.fruitable.vo.FoodRateInfoVO">
		SELECT FRI_NUM, FRI_NAME, FRI_COMMENT, FRI_RATE, CREDAT, CRETIM, FOI_NUM 
		FROM food_rate_info
		WHERE FRI_NUM=#{friNum}
	</select>
	<insert id="insertFoodRate">
		INSERT INTO food_rate_info (
		FRI_NAME, FRI_COMMENT, FRI_RATE, FOI_NUM
		)
		VALUES (
		#{friName}, #{friComment}, #{friRate}, #{foiNum}
		)
	</insert>
</mapper>